<mat-card>
    <mat-card-header>
        <mat-card-title class="font-extrabold">{{ heroe.superhero }}</mat-card-title>
        <mat-card-subtitle class="text-gray-400 font-normal">{{ heroe.alter_ego }}</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image [src]="heroe | imagen" alt="heroe.superhero">

    <mat-card-content>
        <p class="font-medium text-xl">{{ heroe.publisher }}</p>
        <div>
            <strong>Primera aparición</strong> {{ heroe.first_appearance }}
            <br>
            <div class="my-4">
                <mat-chip-list >
                    <mat-chip *ngFor="let name of heroe.characters.split(',') | slice:0:3">
                        {{ name }}
                    </mat-chip>
                </mat-chip-list>
            </div>
        </div>
    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-actions>
        <div class="flex justify-between">

            <button 
                mat-button
                color="primary"
                [routerLink]="['/heroes/editar/', heroe.id]"
            >
                <mat-icon>edit</mat-icon>
                Editar
            </button>
    
            <button 
                mat-button
                [routerLink]="['/heroes', heroe.id]"
            >
                <mat-icon>more_horiz</mat-icon>
                Más
            </button>
        </div>
        
    </mat-card-actions>

</mat-card>